<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125744731006-6uvferle3l77grp21eveekjv3efhpehe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125744731006-6uvferle3l77grp21eveekjv3efhpehe</string>
	<key>API_KEY</key>
	<string>AIzaSyDBxOHdZNmpxKC69wD7-_UecdP7uQj8_SQ</string>
	<key>GCM_SENDER_ID</key>
	<string>125744731006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vijay.bitcode-Project-1</string>
	<key>PROJECT_ID</key>
	<string>bitcode-project-1</string>
	<key>STORAGE_BUCKET</key>
	<string>bitcode-project-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125744731006:ios:abcaae57319c499e13592f</string>
</dict>
</plist>